replace Google DOC data/Replace_Data_in_Google_Docs_from_n8n_Form
{
  "name": "Replace Data in Google Docs from n8n Form",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "name",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "8a756f22-cb10-4b76-9741-5d2d98113b46",
      "name": "Form",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        0,
        300
      ],
      "webhookId": "622256ee-9248-43a2-840e-b28436800aac",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "# 👆\nPlease add authentication to form by selecting Basic Auth to prevent unauthorized access to the form.\n",
        "width": 320,
        "color": 3
      },
      "id": "daa9dd7b-2593-4122-8c98-7ff6f1fd2816",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": "1KyR0UMIOpEkjwa6o1gTggNBP2A6EWwppV59Y6NQuDYw",
          "cachedResultUrl": "https://docs.google.com/document/d/1KyR0UMIOpEkjwa6o1gTggNBP2A6EWwppV59Y6NQuDYw/edit?usp=drivesdk",
          "cachedResultName": "Szablon: Dokument testowy"
        },
        "name": "={{ $json.name }}",
        "options": {}
      },
      "id": "756c8cfb-f8ea-4656-a85a-d14fd225882d",
      "name": "Copy template file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        220,
        300
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "const data = [];\n\nObject.keys($('Form').all().map((item) => {\n  Object.keys(item.json).map((bodyProperty) => {\n    data.push({\n      key: bodyProperty,\n      value: item.json[bodyProperty],\n    });\n  })\n}));\n\nreturn {\n  webhook_data: data,\n  pairedItem: 0,\n};"
      },
      "id": "dbc8f3ba-fb56-4882-bdef-a1cc7bdd68a7",
      "name": "Format form data",
      "type": "n8n-nodes-base.code",
      "position": [
        440,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const result = [];\n\n$('Format form data').all().map((item) => {\n  item.json.webhook_data.map((data) => {\n    if (\"submittedAt\" !== data.key && \"formMode\" !== data.key) {\n      result.push({\n        \"replaceAllText\": {\n            \"containsText\": {\n              \"text\": `{{${data.key}}}`, \n              \"matchCase\": true\n            },\n            \"replaceText\": `${data.value}`\n        },\n      });\n    }\n  });\n})\n\nreturn {\n  data: result,\n  pairedItem: 0,\n};"
      },
      "id": "843e172d-f774-440f-ac7a-914e4b458c3d",
      "name": "Format form data to Google Doc API",
      "type": "n8n-nodes-base.code",
      "position": [
        660,
        300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $('Copy template file').first().json.id }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "requests",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5eedb707-d9f8-4649-b9a4-139ccd829afd",
      "name": "Replace data in Google Doc",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        880,
        300
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "# 🙋‍♂️\nThe workflow automatically fetches all form fields and converts them into variables in Google Doc. For example, if you add a text field to the form called \"address,\" you can use the variable {{address}} in the Google Doc template.",
        "height": 180,
        "width": 520,
        "color": 6
      },
      "id": "6b4c54d1-174c-40b3-a0d2-eb59abee3c55",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 👆\nIn Authentication, you need to select Predefined Credential Type and then choose Google Docs OAuth API.",
        "color": 3
      },
      "id": "0546ed2d-500c-4c52-9708-ffe5dbb3872a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        520
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Form": {
      "main": [
        [
          {
            "node": "Copy template file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format form data": {
      "main": [
        [
          {
            "node": "Format form data to Google Doc API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy template file": {
      "main": [
        [
          {
            "node": "Format form data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format form data to Google Doc API": {
      "main": [
        [
          {
            "node": "Replace data in Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b9e1093d-3fa4-49e2-a352-f99c81696f16",
  "meta": {
    "instanceId": "8f709478f06c64e3fb46ed6ab98a8b7a1c25ff74ba621118361e5029016759bf"
  },
  "id": "yXyf8yiMX9BQGMMX",
  "tags": []
}
